*{
	/*font-family: Arial;*/
}
form{
	width: 500px;
	height: 500px;
	display: flex;				
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

input{
	padding: 15px;
	margin: 15px;
	-webkit-appearance: none;
}

#user, #pass{
	transition: ease .2s;
	border: none;
	outline: none;
	border-bottom: 1px solid #eee;
}

#user:focus, #pass:focus{
	border-bottom: 1px solid #9c27b0;
}
#user:active, #pass:active{
	border: none;
	outline: none;
	border-bottom: 1px solid #9c27b0;
}

#submit{
	text-align: center;
	padding: 15px;
	background-color: #9c27b0;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	width: 100px;
	border: none;
	border-radius: 30px;
	border-top: none;
	border-bottom: none;
	text-decoration: none;
}
